



<div class="box">
  <div class="box-header">
    <h3 class="box-title">Details</h3>
  </div>
  <!-- /.box-header -->
  <div class="box-body give-padding">

    <h2>Fee: ${{cost}}</h2>
    <br>
    <div class="form-group mb-7">
      <label for="exampleFormControlApp">Card Number</label>
      <input class="form-control" type="text" style="max-width: 300px;" id="exampleFormControlApp" placeholder="1234 5678 9000 0000" >
    </div>
    <div class="row">

      <div class="col-md-5">
        <div class="form-group">
          <label for="exampleFormControlApp">Expiry</label>
          <input class="form-control" type="text" id="exampleFormControlApp" placeholder="MM/YY" >
        </div>
      </div>

      <div class="col-md-2">
        <div class="form-group">
          <label for="exampleFormControlApp">CVV</label>
          <input class="form-control" type="text" id="exampleFormControlApp" placeholder="XXX">
        </div>
      </div>

    </div>
    <div style="max-width: 200px;">
      <button type="button" onClick="showConfirm()" class="btn btn-block btn-primary btn-sm">Pay</button>
      <br>
      <div id="confirm-bill" class="hide-it" >
        <span style="color: green"><i class="fa fa-check-circle"></i> Payment Successful</span>
        <br><br>
        <button type="button" onClick="redirect()" class="btn btn-block btn-primary btn-sm">Go to Workspace</button>
      </div>
    </div>


  </div>
</div>


<script src="javascripts/billing.js"></script>
