<html>
<head>
<link rel="stylesheet" href="stylesheets/flip.css">
</head>
<body>
  <div class="description">
    <span class="cas">CAS</span><br>
    Make Costs Assessment <br>simple.
    <br><a href="/">Explore more...</a>
  </div>
  <div class="visits">
    Visits: {{visits}}
  </div>

</body>


</html>
