



<div class="box">
  <div class="box-header">
    <h3 class="box-title">Payment Summary</h3>
  </div>
  <!-- /.box-header -->
  <div class="box-body give-padding">

    <div class="form-group">
      <label>Subject matter</label>
      <select name="country" id="subject-matter" class="form-control select2" style="width: 100%;">
        <option value="" selected="selected"></option>
      </select>
    </div>

    <div class="form-group">
      <label>Sub matter</label>
      <select name="state" id="sub-matter" disabled="disabled" class="form-control select2" style="width: 100%;">
        <option value="" selected="selected"></option>
      </select>
    </div>
    <br>
    <div class="row">
      <div class="col-md-5">
        <div class="form-group">
          <label for="exampleFormControlApp">Name of Applicant:</label>
          <input class="form-control" type="text" id="exampleFormControlApp" placeholder="Applicant" value="Cindy Wright">
        </div>
      </div>

      <div class="col-md-5">
        <div class="form-group">
          <label for="exampleFormControlLaw">Respondent law practice</label>
          <input class="form-control" type="text" id="exampleFormControlLaw" placeholder="Respondent" value="Theile Solicitors">
        </div>
      </div>
    </div>



  </div>
</div>

<div class="box">
  <div class="box-header">
    <h3 class="box-title">Particulars</h3>
  </div>
  <!-- /.box-header -->
  <div class="box-body give-padding">
    <form action="/billing" method="POST">
    <table>

      <tr>
        <th width="10%"></th>
        <th width="90%"></th>
      </tr>


      <tr>
        <td>1.</td>
        <td>
          Did you first instruct the Law Practice in the matter to which the costs relate <strong>before 1 July 2015</strong>?  &nbsp;
          <br><input type="radio" name="abc" class="flat-green"> Before 1 July 2015 <br><input type="radio" name="abc" class="flat-green"> On or after
          <br><br>
        </td>
      </tr>

      <tr>
        <td>2.</td>
        <td>
          <div class="form-group">
            <label for="exampleFormControlLaw">Total amount that the Law Practice claimed for the costs that you want assessed?</label>
            <input class="form-control" type="text" name="totalClaimed" id="total-claimed" value="168000">
          </div>
        </td>
      </tr>

      <tr>
        <td> 3.</td>
        <td>
          How much of the claimed amount has been paid? Specify the date and amount of each payment<br>
          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <div class="input-group mb-2">
                  <div class="input-group-addon"><i class="fa fa-calendar"></i> </div>
                  <input type="number" class="form-control">
                </div>
              </div>
            </div>
            <div class="col-md-5">
              <div class="form-group">
                <div class="input-group mb-5">
                  <div class="input-group-addon">$</div>
                  <input type="text" class="form-control" id="" aria-label="Username" name="paid" aria-describedby="basic-addon1">
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <div class="input-group mb-2">
                  <button type="button" class="btn btn-block btn-primary btn-sm">Add</button>
                </div>
              </div>
            </div>
          </td>
        </tr>

        <tr>
          <td>4.</td>
          <td>

            <div class="form-group">
              How much do you feel is the proper amount for those costs?<br>(Do not subtract amounts that have been paid.)
              <div class="input-group mb-5">
                <div class="input-group-addon">$</div>
                <input class="form-control" type="text" name="amountProposed" id="payments" value="">
              </div>
            </div>
          </td>
        </tr>

        <tr>
          <td>5.</td>
          <td>

            <div class="form-group">
              How much of the claimed amount do you object to?<br>(This should be the difference between part 2 and 3)
              <div class="input-group mb-5">
                <div class="input-group-addon">$</div>
                <input class="form-control" type="text" name="amountForObjection" id="objected-amount" value="168,000">
              </div>
            </div>
          </td>
        </tr>

        <tr>
          <td>6.</td>
          <td>
            <div class="form-group">
              <label for="exampleFormControlLaw">Set out any further information that you say is relevant to the assessment of the costs.</label>
              <textarea class="form-control" type="text" value=""></textarea>
            </div>
          </td>
        </tr>





        </table>
        <div class="row">
          <div class="col-md-4">
          <button type="button" onClick="redirectDocs()" class="btn btn-block btn-primary btn-sm">Save</button>
        </div>
        <div class="col-md-4"><button type="submit" class="btn btn-block btn-primary btn-sm">Submit</button></div>
      </form>




      </div>
    </div>
      <script src="javascripts/home.js"></script>
