<div class="box">
  <div class="box-header">
    <h3 class="box-title">Details</h3>
  </div>
  <!-- /.box-header -->
  <div class="box-body">


    <div class="form-group">
      <label>Case</label>

      <div class="input-group">
        <input type="text" class="form-control " placeholder="">
      </div>
      <!-- /.input group -->
    </div>
    <button type="button" class="btn btn-block btn-primary btn-sm">Validate</button><br><br>



    <div class="form-group">
      <label for="exampleInputPassword1"> Parties</label>
      <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Cindy Wright, Peter Theile">
    </div>

    Details:
    <div class="form-group">
      <label for="exampleInputPassword1">1. </label>
      <input type="text" class="form-control" id="exampleInputPassword1" placeholder="The defendant will pay the plaintiff the amount of $3,500 on or before 31 December 2019.">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">2. </label>
      <input type="text" class="form-control" id="exampleInputPassword1" placeholder="The defendant will not be liable to pay any additional interest if she pays $3,500 by 31 December 2019.">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">3. </label>
      <input type="text" class="form-control" id="exampleInputPassword1" placeholder="If the defendant fails to pay $3,500 on or before 31 December 20xx, the plaintiff reserves the right to recommence legal proceedings against the defendant without notice for the full $4,000 claimed, plus interest and costs.">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">4. </label>
      <input type="text" class="form-control" id="exampleInputPassword1" placeholder="">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">5. </label>
      <input type="text" class="form-control" id="exampleInputPassword1" placeholder="">
    </div>

  </div>
  <!-- /.box-body -->
</div>
