



<div class="box">
  <div class="box-header">
    <h3 class="box-title">Details</h3>
  </div>
  <!-- /.box-header -->
  <div class="box-body give-padding">

    <div class="form-group">
      <label>Subject matter</label>
      <select name="country" id="subject-matter" class="form-control select2" style="width: 100%;">
        <option value="" selected="selected"></option>
      </select>
    </div>

    <div class="form-group">
      <label>Sub matter</label>
      <select name="state" id="sub-matter" disabled="disabled" class="form-control select2" style="width: 100%;">
        <option value="" selected="selected"></option>
      </select>
    </div>
    <br>
    <div class="row">
      <div class="col-md-5">
        <div class="form-group">
          <label for="exampleFormControlApp">Name of Applicant:</label>
          <input class="form-control" type="text" id="exampleFormControlApp" placeholder="Applicant" value="Cindy Wright">
        </div>
      </div>

      <div class="col-md-5">
        <div class="form-group">
          <label for="exampleFormControlLaw">Respondent law practice</label>
          <input class="form-control" type="text" id="exampleFormControlLaw" placeholder="Respondent" value="Theile Solicitors">
        </div>
      </div>
    </div>



  </div>
</div>

<div class="box">
  <div class="box-header">
    <h3 class="box-title">Particulars</h3>
  </div>
  <!-- /.box-header -->
  <div class="box-body give-padding">

    <input type="checkbox" class="flat-green">  &nbsp; Did you first instruct the Law Practice in the matter to which the costs relate <strong>before 1 July 2015</strong>?
    <br><br>
    <div class="form-group">
      <label for="exampleFormControlLaw">Total amount that the Law Practice claimed for the costs that you want assessed?</label>
      <input class="form-control" type="number" id="exampleFormControlLaw" placeholder="Respondent" value="168,000">
    </div>

    How much of the claimed amount has been paid? Spicify the date and amount of each payment
    <div class="row">
      <div class="col-md-3">
        <div class="form-group">
          <label for="exampleFormControlLaw">Date</label>
          <input class="form-control" type="text" id="exampleFormControlLaw" placeholder="Respondent" value="Theile Solicitors">
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <div class="input-group mb-5">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">$</span>
            </div>
            <input type="text" class="form-control" placeholder="" aria-label="Username" aria-describedby="basic-addon1">
          </div>
        </div>
      </div>

    </div>
  </div>
