

<div class="box">
  <div class="box-header">
    <h3 class="box-title"></h3>
  </div>
  <!-- /.box-header -->
  <div class="box-body">
    <table class="table table-striped">
      <tr>
        <th style="width: 200px">Document Name</th>
        <th>Type</th>
        <th>Reference</th>
        <th>actions</th>
      </tr>
      <tr>
        <td>Costs Application</td>
        <td>PDF</td>
        <td>h89ghasg4tn</td>
        <td>
          <div class="btn-group">
            <button type="button" class="btn btn-default">Action</button>
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
              <span class="caret"></span>
              <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#" >View</a></li>
              <li><a href="#">Edit</a></li>
            </ul>
          </div>
        </td>
      </tr>


      <tr>
        <td>Bill</td>
        <td>CSV</td>
        <td>h89ghv234...</td>
        <td>
          <div class="btn-group">
            <button type="button" class="btn btn-default">Action</button>
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
              <span class="caret"></span>
              <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">View</a></li>
              <li><a href="#">Remove</a></li>
            </ul>
          </div>
        </td>
      </tr>

    </table>
    <br><button type="button" class="btn btn-block btn-primary btn-sm">Upload</button>
  </div>
  <!-- /.box-body -->
</div>
