<html>
<head>
  <link rel="stylesheet" href="stylesheets/home.css">
</head>

<body>
  <div id="blue-div">
  </div>
  <div id="white-div">
    New User:
    <div id="flex-cont">

      <div class="user-box">Legal Practitioner</div>
      <div class="user-box">Cost Assessor</div>
      <div class="user-box">Self-Represent</div>
    </div>
    <div id="login-cont">

    </div>
  </div>
</body>

</html>
