<div class="box">
  <div class="box-header">
    <h3 class="box-title">Workspace details</h3>
  </div>
  <!-- /.box-header -->
  <div class="box-body grey-out">
    <table>
      <tr>
        <td>
          Applicant:<br>
          Respondent:<br>
          Case:<br>
        </td>
        <td>
          <strong>&nbsp; Cindy Wright</strong><br>
          <strong>&nbsp; Peter Theile</strong><br>
          <strong>&nbsp; Opple v. Tamsung</strong><br>
        </td>
      </tr>
    </table>
  </div>
</div>

<div class="box">
  <div class="box-header">
    <h3 class="box-title">Progress</h3>
  </div>
  <!-- /.box-header -->
  <div class="box-body ">

    <h3>Settlement</h3>
    <table class="progress-table">
      <tr>
        <td class="progress-cell cell-grey">
          Offer Made <br><i class="fa  fa-check-circle cell-green"></i>
        </td>
        <td class="progress-cell cell-grey">
          Counter Offer Made <br><i class="fa  fa-check-circle cell-green"></i>
        </td>
        <td class="progress-cell cell-grey">
          Outcome: Rejected <br><i class="fa  fa-check-circle cell-green"></i>
        </td>
      </tr>
    </table>
    <br>

    <h3>Costs Assessments Application</h3>
    <table class="progress-table">
      <tr>
        <td class="progress-cell cell-highlight">
          Preperation <br><i class="fa  fa-check-circle cell-green"></i>
        </td>
        <td class="progress-cell cell-light-grey">
          Submission <br><i class="fa fa-circle-thin"></i>
        </td>
        <td class="progress-cell cell-light-grey">
          Received <br><i class="fa fa-circle-thin"></i>
        </td>
        <td class="progress-cell cell-light-grey">
          Cost Assessor Assigned <br><i class="fa fa-circle-thin"></i>
        </td>
        <td class="progress-cell cell-light-grey">
          Cost Estimate <br><i class="fa fa-circle-thin"></i>
        </td>
      </tr>
    </table>
    <br>

    <h3>Costs Assessment</h3>
    <table class="progress-table">
      <tr>
        <td class="progress-cell cell-light-grey">
          Documents Completed <br><i class="fa fa-circle-thin"></i>
        </td>
        <td class="progress-cell cell-light-grey">
          Objections <br><i class="fa fa-circle-thin"></i>
        </td>
        <td class="progress-cell cell-light-grey">
          Final Submissions <br><i class="fa fa-circle-thin"></i>
        </td>
        <td class="progress-cell cell-light-grey">
          Cost Assessment <br><i class="fa fa-circle-thin"></i>
        </td>
        <td class="progress-cell cell-light-grey">
          Certificate Issued <br><i class="fa fa-circle-thin"></i>
        </td>
      </tr>
    </table>
    <div class="progress progress-sm active">
    </div>
  </div>
  </div>


  <div class="box">
    <div class="box-header">
      <h3 class="box-title">Tasks</h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body grey-out">
      <div class="form-group">
        <label>
          <input type="checkbox" class="flat-green">
          Upload Supporting Docs by 31st July 2019
        </label>
      </div>
      <div class="form-group">
        <label>
          <input type="checkbox" class="flat-green">
          Update Application <span class="label label-warning">Assessor Task</span>
        </label>
      </div>
    </div>
  </div>
