<div class="box">
  <div class="box-header">
    <h3 class="box-title">Workspace details</h3>
  </div>
  <!-- /.box-header -->
  <div class="box-body grey-out">
    <table>
      <tr>
        <td>
          Applicant:<br>
          Respondent:<br>
          Assigned Assessor:<br>
          Case:<br>
          Estimated Outcome:
        </td>
        <td>
          <strong>&nbsp; Cindy Wright</strong><br>
          <strong>&nbsp; Peter Theile</strong><br>
          <strong>&nbsp; Timothy Lockwood</strong><br>
          <strong>&nbsp; Opple v. Tamsung</strong><br>
          <strong>&nbsp; Pending...</strong>
        </td>
      </tr>
    </table>
</div>
</div>

<div class="box">
  <div class="box-header">
    <h3 class="box-title">Progress</h3>
  </div>
  <!-- /.box-header -->
  <div class="box-body ">

    <h3>Settlement</h3>
    <table class="progress-table">
      <tr>
        <td class="progress-cell progress-complete">
          Offer Made
        </td>
        <td class="progress-cell progress-complete">
          Counter Offer Made
        </td>
        <td class="progress-cell progress-complete">
          Outcome: Rejected
        </td>
      </tr>
    </table>

    <h3>Costs Assessments Application</h3>
    <table class="progress-table">
      <tr>
        <td class="progress-cell progress-in-progress">
          Application Preperation
        </td>
        <td class="progress-cell progress-grey">
          Application Submission
        </td>
        <td class="progress-cell progress-grey">
          Application Received
        </td>
        <td class="progress-cell progress-grey">
          Application Approval
        </td>
        <td class="progress-cell progress-grey">
          Cost Estimate
        </td>
      </tr>
    </table>

    <h3>Costs Assessment</h3>
    <table class="progress-table">
      <tr>
        <td class="progress-cell progress-grey">
          Assessor Assignment
        </td>
        <td class="progress-cell progress-grey">
          Bill Assessment
        </td>
        <td class="progress-cell progress-grey">
          Outcome:
        </td>
      </tr>
    </table>
</div>
</div>


<div class="box">
  <div class="box-header">
    <h3 class="box-title">Tasks</h3>
  </div>
  <!-- /.box-header -->
  <div class="box-body grey-out">
    <div class="form-group">
      <label>
        <input type="checkbox" class="flat-green">
        Upload Supporting Docs
      </label>
    </div>
    <div class="form-group">
      <label>
        <input type="checkbox" class="flat-green">
        Update Application <span class="label label-warning">Assessor Task</span>
      </label>
    </div>
  </div>
</div>
