

<div class="box">
  <div class="box-header">
    <h3 class="box-title">Workspace details</h3>
  </div>
  <!-- /.box-header -->
  <div class="box-body grey-out">
    <div class="row">
      <div class="col-md-3">
        <div class="box box-primary box-solid">
          <div class="box-header with-border">
            <h3 class="box-title">Opple v. Tamsung</h3>

            <div class="box-tools pull-right">
              <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
              </button>
            </div>
            <!-- /.box-tools -->
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <div class="form-group">
              <label>
                <input type="checkbox" class="flat-red" checked>
              </label>
              <label>
                <input type="checkbox" class="flat-red">
              </label>
              <label>
                <input type="checkbox" class="flat-green" disabled>
                Flat green skin checkbox
              </label>
            </div>
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->
      </div>
    </div>
  </div>
</div>
