@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');

body {
  color: #16517d;
  font-size: 60px;
  text-align: center;

  font-family: Oswald;
}

.description {
  padding-top: 100px;
  padding-bottom: 100px;
  font-weight: bolder;
}

.description a {
  font-weight: normal;
  font-size: 30px;
}
.visits {
  padding: 30px;
}

.cas {
  font-size: 120px;
  padding: 20px;
}
