

.box-dark-mode {
  background-color: #e6e6e6;
}

.hide-it {
  display: none;
}

.grey-out {
  color: grey;
}

.progress-table {
  width: 100%;
  color: white;
}

.progress-complete {
  background-color: green;
}

.progress-in-progress {
  background-color: orange;
}

.progress-grey {
  background-color: grey;
}

.progress-cell {
  padding: 10px;
}

.cost-assessment {
  color: grey;
  text-align: center;
  width:100%;
}
