@import url('https://fonts.googleapis.com/css?family=Darker+Grotesque&display=swap');


body {
  margin: auto;
  font-family: "Darker Grotesque";
  font-weight: bolder;
}

#blue-div {
  height: 150px;
  background-color: #16517d;
  padding: 15px;
}

#white-div {
  padding: 15px;
  text-align: center;
}

#blue-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

#cas-slogan {
  color: white;
  font-size: 20px;
}

.user-box {
  height: 150px;
  width: 150px;
  background-color: #16517d;
  margin: 15px;
  color: white;
  border-radius: 5px;
  padding: 15px;
}

#flex-cont {
  display: flex;
  align-items: center;
  justify-content: center;
}

#login-container {
  margin: 10px;
  padding: 20px;
  background-color: #16517d;
  color: white;
  max-width: 400px;
  border-radius: 5px;
}

#login-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-icon {
  font-size: 50px;
  margin-bottom: 0px;
}
